<ion-header>
    <ion-toolbar>
        <ion-title>asd</ion-title>
    </ion-toolbar>
    <ion-item-divider color="secondary" >
        <ion-label>
            asd
        </ion-label>
    </ion-item-divider>
</ion-header>

<ion-content>
	<ion-list>
		<ion-item>
			<ion-label position="stacked">1</ion-label>
			<ion-input name="aa"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">2</ion-label>
			<ion-input name="aa2"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">3</ion-label>
			<ion-input name="aa3"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">4</ion-label>
			<ion-input name="aa4"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">5</ion-label>
			<ion-input name="aa5"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">6</ion-label>
			<ion-input name="aa6"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">7</ion-label>
			<ion-input name="aa7"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">8</ion-label>
			<ion-input name="aa8"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label position="stacked">9</ion-label>
			<ion-input name="aa9"></ion-input>
		</ion-item>
	</ion-list>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="closeModal()">
                cancel
            </ion-button>
            
        </ion-buttons>
        
    </ion-toolbar>
</ion-footer>